[submodule "libs/mdui"]
	path = libs/mdui
	url = https://github.com/zdhxiong/mdui
[submodule "libs/prism"]
	path = libs/prism
	url = https://github.com/PrismJS/prism
[submodule "libs/mathjax"]
	path = libs/mathjax
	url = https://github.com/mathjax/MathJax
