[submodule "libs/mdui"]
	path = libs/mdui
	url = https://github.com/zdhxiong/mdui
[submodule "libs/prism"]
	path = libs/prism
	url = https://github.com/PrismJS/prism
[submodule "libs/lightgallery"]
	path = libs/lightgallery
	url = https://github.com/sachinchoolur/lightGallery
[submodule "libs/nicescroll"]
	path = libs/nicescroll
	url = https://github.com/inuyaksa/jquery.nicescroll
